.Info {
  margin-bottom: 2rem;
  text-align: center;
  display: inline-block;
  color: white;
  width: 75%;
 }
 .Info_portrait {
   width: 50%;
   display: inline-block;
 }

 .Info_portrait img {
   width: 50%;
   display: inline-block;
 }

 .Info_playerinformation {
   width: 50%;
   display: inline-block;
   vertical-align: top;
 }
 .Info_playerinformation h1 {
   margin-bottom: 1rem;
 }

 .Info_playerinformation h2 {
   text-align: left;
 }