.Info {
  text-align: center;
  display: inline-block;
  color: white;
  width: 75%;
 }
 .Info_portrait {
   width: 50%;
   display: inline-block;
 }

 .Info_portrait img {
   width: 50%;
   display: inline-block;
 }

 .Info_playerinformation {
   width: 50%;
   display: inline-block;
   vertical-align: top;
 }