.Team {
  background-color: black;
}
.Players {
  text-align: center;
}
.Banner img{
  width: 100%;
}

.TeamDesktop {
  background-color: black;
}
.PlayersDesktop {
  text-align: center;
}
.BannerDesktop h1{
  padding-top: 5rem;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
  font-size: 8rem;
  text-align: center;
  color: white;
  border-bottom: 0.2rem solid white;
}

@media (max-width: 499px) {
  .TeamDesktop {
    display: none;
  }
}

@media (min-width: 500px) {
  .Team {
    display: none;
  }
}