.Team {
  background-color: black;
}
.Players {
  text-align: center;
}
.Banner img{
  width: 100%;
}

.TeamDesktop {
  background-color: black;
}
.PlayersDesktop {
  text-align: center;
}
.BannerDesktop img{
  width: 100%;
}

@media (max-width: 499px) {
  .TeamDesktop {
    display: none;
  }
}

@media (min-width: 500px) {
  .Team {
    display: none;
  }
}