.NavigationItem {
  font-size: 1.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  align-items: center;
  text-align: center;
}

.NavigationItem a {
  color: blue;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: blue;
}

@media (min-width: 500px) {
  .NavigationItem {
    font-size: 1.5rem;
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  
  .NavigationItem a {
    color: blue;
    height: 100%;
    padding: 1.5rem 2rem;
    border-bottom: 4px solid transparent;
  }
  
  .NavigationItem a:hover,
  .NavigationItem a:active,
  .NavigationItem a.active {
    /* background-color: darkblue; */
    border-bottom: 4px solid darkblue;
  }
}