.Header {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(255,223,50,0.8), rgba(255,215,0,0.8))
  , url('/imgs/Logo.png');
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Headerlogo {
  margin-bottom: 5rem;
  height: 64%;
  text-align: center;
}

.Header img {
  margin-top: 3rem;
  height: 100%;
  animation: Appear 1.5s ease-in;
}

.Header h1 {
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  font-size: 2.5rem;
  font-weight: 900;
  display: block;
  color: darkblue;
  animation: moveInBottom 1s ease-out;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
    opacity: .8;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes Appear {
  0% {
    opacity: 0;
  }

  80% {
    opacity: .8;
  }

  100% {
    opacity: 1;
  }
}

.Body {
  background-color: black;
}

.Body h2 {
  color: white;
  text-transform: uppercase;
  display: block;
  font-size: 2.5rem;
  font-weight: 700;
  padding: 4rem 0 1rem 2rem;
}

@media (max-width: 499px) {
  .DesktopHeader {
    display: none;
  }
}

@media (min-width: 500px) {
  .DesktopHeader {
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgba(255,223,50,0.7), rgba(255,215,0,0.7))
    , url('/imgs/DesktopHeader.jpg');
    background-position:right center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .DesktopHeader h1 {
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    font-size: 4rem;
    font-weight: 900;
    display: block;
    color: darkblue;
    animation: moveInBottom 1s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: both;
  }
  .DesktopHeader img {
    margin-top: 2rem;
    height: 100%;
    animation: Appear 1.5s ease-in;
  }
  .DesktopHeaderlogo {
    height: 80%;
    margin-bottom: 4rem;
    text-align: center;
  }
  .Header {
    display: none;
  }
  .Body h2 {
    margin-left: 6rem;
  }
}